{% extends 'layout.html' %}

{% block body %}
{% if Alive == True %}
      <div class="w3-light-grey w3-padding-32 w3-center">
        <h3 class="w3-xxlarge">{{ip}} Reports</h3>
        <a href="/"><p class="w3-button w3-light-grey">[ Home ]</p></a>
      </div>

      <div class="w3-row w3-container w3-margin-top">
        <div class="w3-third w3-justify w3-container">
          <h2>Network ports Summery</h2>

          <p>{{NmapResult}}</p>

          </div>
        <div class="w3-third w3-justify w3-container">
          <h2>DNS Enumeration</h2>
          <p>.</p>
        </div>
        <div class="w3-third w3-justify w3-container">
          <h2>More Exciting Stuff!</h2>
          <p>.</p>
          </div>
      </div>
  {% else %}
    <div class="w3-light-grey w3-padding-32 w3-center">
      <h3 class="w3-xxlarge">{{ip}} is Dead ;(</h3>
    </div>
  {{ super() }}
{% endif %}
{% endblock %}