<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ExifForm</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
            {% block body %}
            {% endblock %}
            <div class="w3-display-bottommiddle w3-text-grey"><p>Developed by <span class="w3-text-teal"><a href="https://waxvapour.com/">@waxvapour</a></span></p></div>
    </body>
</html>
